/*SINGLE PRODUCT PAGE*/
@media (max-width: 900px) {
    #prodetails .single-pro-image {
        width: 80%;
    }
}

@media (max-width:700px) {
    #prodetails {
        display: flex;
        flex-direction: column;
    }
    #prodetails .single-pro-image {
        width: 100%;
        margin-right: 0px;
    }
    #prodetails .single-pro-details {
        width: 100%;
        padding-top: 30px;
    }
}

/*CART SECTION*/
@media (max-width: 700px) {
    #cart-add {
        flex-direction: column;
    }
    #coupon {
        width: 100%;
    }
    #subtotal {
        width: 100%;
        padding: 20px;
    }
}

/*CONTACT SECTION*/

@media (max-width: 750px) {
    #contact-details {
        flex-direction: column;
    }
    #contact-details .details {
        width: 100%;
        margin-bottom: 30px;
    }
    #contact-details .map {
        width: 100%;
    }
    #form-details {
        margin: 10px;
        padding: 30px 10px;
        flex-wrap: wrap;
    }
    #form-details form {
        width: 100%;
        margin-bottom: 30px;
    }
}