@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Global Styles */

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-p2 {
  padding: 20px 80px;
}

.section-m1 {
  margin: 40px 0;
}

.heading {
  text-align: center;
  border: 3px solid blue;
  border-radius: 10px;
  background-color: goldenrod;
}

button.normal {
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: #000;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s;
}

body {
  width: 100%;
}

.header {
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: skyblue;
    box-shadow: 0 5px 15px rgba(0,0,0,0.06);
    z-index: 100;
}

.header .main .logo {
  width: 200px;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-bar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

.nav-bar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}

.nav-bar li a:hover,
.nav-bar li a.active {
    color: #088178;
}

.nav-bar li a.active::after,
.nav-bar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

.categories {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-gap: 30px;
}

.ce-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: 100%;
  padding: 20px;
  background-color: rgb(144, 229, 211); 
}

.categories .ce-box:hover {
  box-shadow: 10px 10px 54px rgba(15, 235, 202, 0.1);
}

.categories .ce-box img {
  width: 100%;
  margin-bottom: 10px;
}

.categories .ce-box h6 {
  display: inline-block;
  padding: 9px 8px 6px 8px;
  line-height: 1;
  border-radius: 4px;
  color: #088178;
  background-color: #fddfe4;
  margin-top: auto;
}

.categories .ce-box:nth-child(2) h6 {
  background-color: #cdebbc;
}
.categories .ce-box:nth-child(3) h6 {
  background-color: #d1e8f2;
}
.categories .ce-box:nth-child(4) h6 {
  background-color: #cdd4f8;
}
.categories .ce-box:nth-child(5) h6 {
  background-color: #f6dbf6;
}
.categories .ce-box:nth-child(6) h6 {
  background-color: #fff2e5;
}

.c-item {
  height: 450px;
}

.c-img {
  height: 100%;
  object-fit: cover;
}

.carousel-control-prev-icon {
  border: 1px solid black;
  background-color: black;
  color: white;
  position: absolute;
  left: 21px;
  height: 70px!important;
  width: 40px!important;
}

.carousel-control-next-icon {
  border: 1px solid black;
  background-color: black;
  color: white;
  position: absolute;
  right: 21px;
  height: 70px!important;
  width: 40px!important;
}

#fashion-carousel .carousel-indicators.active {
  background-color: black;
}


/*FEATURE SECTION*/

.feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.feature .fe-box {
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0,0,0,0.03);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 0;
}

.feature .fe-box:hover {
    box-shadow: 10px 10px 54px rgba(70,62,221,0.1);
}

.feature .fe-box img {
    width: 100%;
    margin-bottom: 10px;
}

.feature .fe-box h6 {
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #088178;
    background-color: #fddfe4;
}

.feature .fe-box:nth-child(2) h6 {
    background-color: #cdebbc;
}
.feature .fe-box:nth-child(3) h6 {
    background-color: #d1e8f2;
}
.feature .fe-box:nth-child(4) h6 {
    background-color: #cdd4f8;
}
.feature .fe-box:nth-child(5) h6 {
    background-color: #f6dbf6;
}
.feature .fe-box:nth-child(6) h6 {
    background-color: #fff2e5;
}


/*PRODUCT SLIDER*/

.product1 {
  text-align: center;
}

.product1 .pro-container {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;
}

.product1 .pro {
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0,0,0,0.02);
  margin: 15px 0;
  transition: 0.2s ease;
  position: relative;
}

.product1 .pro:hover {
  box-shadow: 20px 20px 30px rgba(0,0,0,0.06);
}

.product1 .pro img {
  width: 100%;
  border-radius: 20px;
}

.product1 .pro .des {
  text-align: start;
  padding: 10px 0;
}

.product1 .pro .des span {
  color: #606063;
  font-size: 12px;
}

.product1 .pro .des h5 {
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 14px;
}

.product1 .pro .des i {
  font-size: 12px;
  color: rgba(243,181,25);
}

.product1 .pro .des h4 {
  padding-top: 7px;
  font-size: 15px;
  font-weight: 700;
  color: #088178;
}

.product1 .pro .cart {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: rgb(62, 188, 62);
  font-weight: 500;
  color: blue;
  border: 1px solid #cce7d0;
  position: absolute;
  bottom: 20px;
  right: 10px;
}

/*BANNER*/
.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url("img/banner/b2.jpg");
  width: 100%;
  height: 40vh;
  background-size: cover;
  background-position: center;
}

.banner h4 {
  color: #fff;
  font-size: 16px;
}

.banner h2 {
  color: #fff;
  font-size: 30px;
  padding: 10px 0;
}

.banner h2 span {
  color: #ef3636;
}

.banner button:hover {
  background-color: #088178;
  color: #fff;
}

/*PAGINATION*/

#pagination {
  text-align: center;
}

#pagination a {
  text-decoration: none;
  background-color: #088178;
  padding: 15px 20px;
  border-radius: 4px;
  color: #fff;
  font-weight: 600;
}

#pagination a i {
  font-size: 20px;
  font-weight: 600;
}

/*CONTACT DETAILS*/
.about-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url("img/about/banner.png");
  width: 100%;
  height: 40vh;
  background-size: cover;
  background-position: center;
}

.about-header p {
  color: #fff;
  font-size: 16px;
}

.about-header h2 {
  color: #fff;
  font-size: 30px;
  padding: 10px 0;
}

#contact-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#contact-details .details {
  width: 40%;
}
#contact-details .details span,
#form-details form span {
  font-size: 12px;
}
#contact-details .details h2,
#form-details form h2 {
  font-size: 26px;
  line-height: 35px;
  padding: 20px 0;
}
#contact-details .details h3 {
  font-size: 16px;
  padding-bottom: 15px
}

#contact-details .details li {
  list-style: none;
  display: flex;
  padding: 10px 0;
}
#contact-details .details li p {
  margin: 0;
  font-size: 14px;
}

#contact-details .map {
  width: 55%;
  height: 400px;
}
#contact-details .map iframe {
  width: 100%;
  height: 100%;
}

#form-details{
  display: flex;
  justify-content: center;
  margin: 30px;
  padding: 80px;
  border: 1px solid #e1e1e1;
}
#form-details form {
  width: 65%;
  display: flex;
  flex-direction: column;
}

#form-details form input,
#form-details form textarea {
  width: 100%;
  padding: 12px 15px;
  outline: none;
  margin-bottom: 20px;
  border: 1px solid #e1e1e1;
}

#form-details form button {
  background-color: #088178;
  color: #fff;
}

/*CART SECTION*/
#cart {
  overflow-x: auto;
}
#cart table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  white-space: nowrap;
}

#cart table img {
  width: 70px;
}

#cart table td:nth-child(1) {
  width: 100px;
  text-align: center;
}
#cart table td:nth-child(2) {
  width: 150px;
  text-align: center;
}
#cart table td:nth-child(3) {
  width: 250px;
  text-align: center;
}
#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6) {
  width: 150px;
  text-align: center;
}

#cart table td:nth-child(5) input {
  width: 70px;
  padding: 10px 5px 10px 15px;
}

#cart table thead {
  border: 1px solid #e2e9e1;
  border-left: none;
  border-right: none;
}

#cart table thead td {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
  padding: 18px 0;
}

#cart table tbody tr td {
  padding-top: 15px;
}

#cart table tbody td {
  font-size: 13px;
}

#cart-add {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#coupon {
  width: 50%;
  margin-bottom: 30px;
}

#coupon h3,
#subtotal h3 {
  padding-bottom: 15px;
}
#coupon input {
  padding: 10px 20px;
  outline: none;
  width: 60%;
  margin-right: 10px;
  border: 1px solid #e2e9e1;
}
#coupon button,
#subtotal button {
  background-color: #088178;
  color: #fff;
  padding: 12px 20px;
}

#subtotal {
  width: 50%;
  margin-bottom: 30px;
  border: 1px solid #e2e9e1;
  padding: 30px;
}

#subtotal table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}

#subtotal table td {
  width: 50%;
  border: 1px solid #e2e9e1;
  padding: 10px;
  font-size: 13px;
}


/*FOOTER*/
footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer .col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

footer .logo {
  width: 200px;
  margin-bottom: -40px;
  position: relative;
  top: -60px;
}



footer h4 {
  font-size: 14px;
  padding-bottom: 20px;
}

footer p {
  font-size: 13px;
  margin: 0 0 8px 0;
}

footer a {
  font-size: 13px;
  text-decoration: none;
  color: #222;
  margin-bottom: 10px;
}

footer .follow {
  margin-top: 20px;
}

footer .follow i {
  color: #465b52;
  padding-right: 4px;
  cursor: pointer;
}

footer .install .row img {
  border: 1px solid #088178;
  border-radius: 6px;
}

footer .install img {
  margin: 10px 0 15px 0;
}

footer .follow i:hover,
footer a:hover {
  color: #088178;
}

footer .copyright {
  width: 100%;
  text-align: center;
}
